* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Sytle the header */
/*
.header {
    position: relative;
    background-color:#079992;
    width: 100%;
    min-height: 156px;
}

.header_image{
    position: absolute;
    right: 0px;
    max-height: 500px;
    opacity: 0.8;
}

.dropbtn {
    position: absolute;
    right: 0px;
    max-height: 500px;
    opacity: 0.8;
}

.dropdown {
    position: absolute;
    right: 0px;
    max-height: 500px;
    opacity: 0.8;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.text_center {
    font-family: Allan;
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-decoration: none;
    color: #e55039;
}
*/
/*
.button-hover-addcart {
    border: 2px solid #767676;
    background: transparent;
    color: #767676;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 0.07rem;
    transition: all 0.2s ease-in-out;
    position: relative;
    top: 132px;
    right: -1619px;
  }
  
  .button-hover-addcart span {
    transition: all 0.2s ease-in-out;
  }
  
  .button-hover-addcart .fa {
    position: absolute;
    font-size: 1.2rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #1779ba;
    right: -20px;
    transition: 0.4s right cubic-bezier(0.38, 0.6, 0.48, 1);
  }
  
  .button-hover-addcart:hover {
    border-color: #1779ba;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .button-hover-addcart:hover span {
    margin-right: 20px;
    color: #1779ba;
  }
  
  .button-hover-addcart:hover .fa {
    right: 12px;
  }
*/  

ul.drop {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #333;
}

ul.drop li {
    float: left;
}

ul.drop li a, .dropbtn{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Allan;
    font-size: 20px;
    border-radius: 3px;
}

ul.drop li a:hover, .dropdown:hover .dropbtn{
    background-color: red;
}

ul.drop li.dropdown{
    display: inline-block;
}

.drop .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #01FF70;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    border-radius: 3px;
}

.drop .dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav {
    width: 100%;
    background-color:#ddd;
    margin-top: 2px;
    margin-bottom: 0px;
    height: auto;
}

.container{
    position: relative;
    height: 1000px;
}

/* Style the side navigation */
.sidebar {
    margin: 0;
    padding: 0;
    width: 10%;
    left: 0px;
    top: 0px;
    width: 10%;
    min-width: 130px;
    background-color: #f1f1f1;
    position: absolute;
    height: 1000px;
    overflow: auto;
    z-index: 10;
  }
  
  .sidebar a {
    font-family: Allan;
    font-weight: 500;
    font-size: 18px;
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    height: 60px;
    border-radius: 3px;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

.section {
    float:right;
    position: absolute;
    right:0px;
    top:0px;
    bottom: 0px;
    background-color:beige;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 20px;
    /*height: 950px;*/
    width: 90%;
}

.footer{
    position: relative;
    font-family: Allan;
    font-weight: bold;
    font-size: 30px;
    background-color: cadetblue;
    width: 100%;
    bottom: 0px;
}
.footer p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.container2{
    position: relative;
}

ul.table{
    position: absolute;
    width:100%;
    height:895px;
    margin-left:0; 
    margin-right:0%;
    list-style:none;
    overflow:auto;
    padding-left:0px;
}
ul.table li{
    width:280px;
    height:360px;
    float:left;
    border:5px solid #CCC;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
    margin:5px;
}
.product_img {
    width: 200px;
    height: 200px;
    top: 2px;
}

.clear{clear:both}

.product{
    text-align:center
}