* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Sytle the header */
.header {
    background-color:#079992;
    width: 100%;
    position: relative;
    height: 156px;
}

.header_image{
    position: relative;
    float: right;
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    max-height: 500px;
    opacity: 0.8;
    
}

.text_center {
    font-family: Allan;
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 161px;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-decoration: none;
}

.nav {
    width: 100%;
    background-color:#ddd;
    margin-top: 2px;
    margin-bottom: 0px;
    height: auto;
}

.container{
    position: relative;
    height: 1000px;
}

/* Style the side navigation */
.sidebar {
    margin: 0;
    padding: 0;
    width: 10%;
    left: 0px;
    top: 0px;
    width: 10%;
    min-width: 130px;
    background-color: #f1f1f1;
    position: absolute;
    height: 1000px;
    overflow: auto;
    z-index: 10;
  }
  
  .sidebar a {
    font-family: Allan;
    font-weight: 500;
    font-size: 18px;
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    height: 60px;
    border-radius: 3px;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

.section {
    float:right;
    position: absolute;
    right:0px;
    top:0px;
    bottom: 0px;
    background-color:beige;
    margin-left: 200px;
    padding-left: 5%;
    padding-right: 5%;
    /*height: 950px;*/
    width: 90%;
}

.footer{
    position: relative;
    font-family: Allan;
    font-weight: bold;
    font-size: 30px;
    background-color: cadetblue;
    width: 100%;
    bottom: 0px;
}
.footer p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.container2{
    position: relative;
}

ul.table{
    position: absolute;
    width:100%;
    height:895px;
    margin-top:5;
    margin-left:0%; 
    margin-right:0%;
    list-style:none;
    overflow:auto;
    padding: 0px;
}
ul.table li{
    width:140px;
    height:180px;
    float:left;
    border:2px solid #CCC;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
}
.product_img {
    width: 100px;
    height: 100px;
    top: 2px;

}

.clear{clear:both}
