* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Sytle the header */
.header {
    background-color: azure;
    width: 100%;
    position: relative;
    height: 156px;
}

.header_image{
    position: relative;
    float: right;
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    max-height: 500px;
    
}

.text_center {
    font-family: Allan;
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 161px;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-decoration: none;
}

.nav {
    width: 100%;
    background-color: #03A9F4;
    /*border: 2px #303F9F;
    border-style: solid;*/
    margin-top: 2px;
    margin-bottom: 0px;
    height: auto;
}

ul.breadcrumb {
    margin-top:0px; 
    margin-bottom: 0px;
    padding: 0px 16px;
    list-style: none;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: rgb(230, 64, 180);
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.container{
    position: relative;
    height: 1000px;
}


/*
#breadcrumbs li {
    display: inline-block;
  }
  #breadcrumbs li:not(:first-child) {
    margin-left: 0.4em;
  }
  #breadcrumbs li:not(:first-child):before {
    content: '>';
    margin-right: 0.4em;
  }

.sitemaps {
    visibility: hidden;
}  
*/
/* Style the side navigation */
.sidebar {
    margin: 0;
    padding: 0;
    width: 10%;
    left: 0px;
    top: 0px;
    width: 10%;
    min-width: 130px;
    background-color: #f1f1f1;
    position: absolute;
    height: 1000px;
    overflow: auto;
    z-index: 10;
  }
  
  .sidebar a {
    font-family: Allan;
    font-weight: bold;
    font-size: 15px;
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    height: 50px;
    border-radius: 3px;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
.shopping_cart {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 90%;
    padding:0px 10px 0px 10px;
    font-family: Nunito;
    float: right;
    overflow: auto;
    background-color:#6495ED;
    text-align:right;
    border-radius: 3px;
    height: 50px;
}

.shopping_cart p{
    margin-top: 14px;
    margin-bottom: 14px;
}

.section {
    float:right;
    position: absolute;
    right:0px;
    top:50px;
    bottom: 0px;
    background-color:beige;
    margin-left: 200px;
    padding-left: 5%;
    padding-right: 5%;
    /*height: 950px;*/
    width: 90%;
}

.footer{
    position: relative;
    font-family: Allan;
    font-weight: bold;
    font-size: 30px;
    background-color: cadetblue;
    width: 100%;
    bottom: 0px;
}
.footer p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.container2{
    position: relative;
}

ul.table{
    position: absolute;
    width:80%;
    height:895px;
    margin-top:5;
    margin-left:15%; 
    margin-right:15%;
    list-style:none;
    overflow:auto;
    padding: 0px;
}
ul.table li{
    width:140px;
    height:180px;
    float:left;
    border:2px solid #CCC;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
}
.product_img {
    width: 100px;
    height: 100px;
    top: 2px;

}

.clear{clear:both}
